@import url("reset.css");
.full {
  width: 100%;
  height: 100%;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
.f {
  position: fixed;
}
html,
body,
.container {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";
  font-size: 62.5%;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100%;
  width: 100%;
  background: url("../localFile/download/android/anios.png") no-repeat center center;
  background-size: cover;
  position: absolute;
}
.header {
  width: 70%;
  height: 45px;
  margin: 0 auto;
  position: relative;
  top: 53px;
}
.header .zuo {
  width: 19%;
  height: 45px;
  float: left;
  margin-left: 8%;
}
.header .zuo img {
  width: 100%;
  display: block;
}
.header .you {
  width: 73%;
  height: 45px;
  float: right;
  font-size: 18px;
  line-height: 45px;
  color: white;
  text-align: center;
  font-weight: 800;
}
.section {
  -webkit-box-flex: 1;
  overflow: auto;
  width: 80%;
  margin: 0 auto;
}
.section .img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
.section .img img {
  width: 100%;
  display: block;
}
.section .niu {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}
.section .niu img {
  width: 100%;
  display: block;
}
.section .zi {
  width: 85%;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: 110px;
}
.section .zi p {
  text-align: center;
  color: white;
  font-size: 10px;
}
