@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
html, body{font-size:62.5%; line-height:1.5; font-family:"微软雅黑", Arial; color:#454545; width:100%; height:100%; background:#fff;margin:0;padding:0;}
body{overflow-x:hidden; min-width:1024px}
a{text-decoration:none;}

ul li{list-style:none;}
a img{border:none;}
input{border:none; background:none;}
input, textarea{font-family:"微软雅黑", Arial; outline:0; -webkit-appearance:none;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.ellipsis{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; display:block}
.bx-wrapper{margin: 0 auto;}


.logo{background:#fff url(../localFile/download/pc/logo.jpg) center no-repeat; background-size: contain; height:70px; width:100%;}
.banner{width:100%; height:1146px;background:url(../localFile/download/pc/header1.png)no-repeat center center; background-size:cover;position:relative;}
.banner img{width:100%; height:auto;}

.banner .zhong img{width:138px;height:82px;position:absolute;top:550px;left:47%;}
.banner .wen img{width:214px;height:210px;position:absolute;top:250px;left:66%;}
.banner .hui{width:436px;height:50px;position:absolute;top:530px;left:63%;color:white;font-size:30px;}
.banner .app{width:594px;height:50px;position:absolute;top:610px;left:59%;color:white;font-size:30px;}
.banner .niu{width:274px;height:84px;}
.banner .niu img{width:274px;height:84px;position:absolute;top:750px;left:65%;}

.con1{margin:30px 5%; border-bottom:1px dotted #999; position:relative; background:url(../localFile/download/pc/pic_bg.jpg) right bottom no-repeat; background-size:20% auto; zoom:1; overflow:hidden; padding:5% 0;}
.con1 img{width:80%; height:auto;}
.con1 h2{font-size:3rem; color:#2ea7e0; text-align:center; padding:5% 0 5% 20%;}
.con1 div.p{font-size:1.6rem; padding-left:20%; line-height:3}
.con1 p{font-size:1.6rem; padding-left:20%; padding-bottom:2rem;}
.con1 .l_side{width:50%; min-height:200px; float:left;}
.con1 .r_side{width:50%; min-height:200px; float:right;}

.con2{margin:30px 5%; border-bottom:1px dotted #999; position:relative; background:url(../localFile/download/pc/pic_bg.jpg) left bottom no-repeat; background-size:20% auto; zoom:1; overflow:hidden; padding:5% 0;}
.con2 img{width:80%; height:auto;}
.con2 h2{font-size:3rem; color:#2ea7e0; text-align:center; padding:5% 20% 5% 0;}
.con2 p{font-size:1.6rem; padding-right:20%; padding-bottom:2rem;}
.con2 .l_side{width:50%; min-height:200px; float:left;}
.con2 .r_side{width:50%; min-height:200px; float:right;}

.box{margin-top:-32px;width:100%; height:auto;}
.box{width:100%; height:700px;background:url(../localFile/download/pc/wei.png)no-repeat center center; background-size:cover; position:relative;}
.box .ti{color:white;font-size:22px;position:absolute;top:100px;left:25%;}
.box .zuo{position:absolute;top:200px;left:21%;}
.box .ios{position:absolute;top:200px;left:34%;}
.box .zuo1{position:absolute;top:420px;left:20.5%;}
.box .ios1{position:absolute;top:420px;left:33.5%;}